/* Google Fonts */
@import url("https://fonts.googleapis.com/css?family=Fira+Sans:400,400i,600,600i,700|IBM+Plex+Serif:300i,400,400i,500,500i,600,600i,700,700i");
/* Typography */
html {
    font-size: 16px;
}
h1,h2,h3,h4,p {
    font-family: 'IBM Plex Serif', serif;
}
/* Navigation */
.nav-top {
    color: white;
    font-family: 'Fira Sans', sans-serif;
    font-weight: 700;
    padding: 1rem 0;
    line-height: 1.6em;
    position: fixed;
    text-transform: uppercase;
    top: 0;
    width: 100%;
    z-index: 99;
}
.nav-top a {
    color: white;
}
.nav-top a:hover,
.nav-top a:active {
    border-bottom: 2px solid white;
}
.nav-top #inactive {
    color: #333;
}
/* Header */
.banner {
    text-align: center;
    margin-top: 1.6em;
}
.banner-image {
    width: 100%;
    min-height: 450px;
    max-height: 450px;
    overflow: hidden;
    background-image: url(../img/banner.png);
    background-repeat: no-repeat;
    background-size: 1600px 432px;
    background-position: center top;
}
.site-title {
    background-color: #69c3aa;
    color: white;
    position: absolute;
    padding: 1rem;
    top: 6rem;
}
.site-title h1 {
    font-family: 'IBM Plex Serif', serif;
    font-size: 3em;
    font-weight: 700;
    line-height: 1em;
    padding: 0 0.1em;
}
.site-title h2 {
    font-family: 'IBM Plex Serif', serif;
    font-size: 3em;
    font-weight: 300;
    line-height: 1em;
    margin-top: -1rem;
    padding: 0.1em 0.1em 0 0.1em;
}
.site-desc {
    background-color: #333;
    color: white;
    font-family: 'IBM Plex Serif', serif;
    position: absolute;
    top: 16rem;
}
.site-desc p {
    font-size: 0.9em;
    padding: 1rem;
}
/* Body */
.light-gray {
    background-color: #f4f4f4;
    padding: 1em 0 5em 0;
}
.gray {
    background-color: #efefef;
    padding: 2em 0 1em 0;
}
.green {
    background-color: #69c3aa;
}
.space3 {
    height: 3em;
}
.space5 {
    height: 5em;
}
.text h1 {
    color: #333;
    font-size: 3em;
    font-style: italic;
    font-weight: 500;
    margin: 1.4em 0 0.2em 0;
}
.text h5 {
    color: #555;
    font-family: 'IBM Plex Serif', serif;
    font-size: 1.2em;
    font-weight: 400;
    line-height: 1.5em;
    margin: 1.4em 0 0.2em 0;
    width: 50%;
}
.text h5 a {
    color: #555;
    border-bottom: 2px dotted #69c3aa;
}
.text h5 a:hover {
    color: #555;
    border-bottom: 2px solid #69c3aa;
}
.text p {
    color: black;
    font-size: 1.2em;
    font-weight: 400;
    line-height: 1.5em;
}
.media p {
    color: #69c3aa;
    font-family: 'Fira Sans', sans-serif;
    font-size: 1em;
    font-weight: 600;
    margin: 1em 0 1em 0;
    text-transform: uppercase;
}
.media a {
    border-bottom: none; 
    color: #333;
    font-family: 'Fira Sans', sans-serif;
    font-weight: 600;
    text-transform: uppercase;
}
.media a:hover,
.media a:active {
    border-bottom: 2px solid #69c3aa; 
    color: #333;
}
.media-mobile {
    display: none;
}
.media-narrow {
    display: none;
}
.media-wide {
    display: block;
}
.list-governingID {
    padding-top: 0.5em;
}
.list h1 {
    color: #efefef;
    font-size: 2.8em;
    font-style: italic;
    font-weight: 500;
    margin-top: 1em;
}
.list h3 {
    color: #333;
    font-family: 'Fira Sans', sans-serif;
    font-size: 1.8em;
    font-weight: 600;
    padding: 1.2em 0 1em 0;
    text-transform: uppercase;
}
.list p {
    border-top: 1px solid #333;
    color: #69c3aa;
    font-family: 'Fira Sans', sans-serif;
    font-size: 1em;
    font-weight: 600;
    padding-top: 0.8em;
    text-transform: uppercase;
}
.list a {
    border-bottom: none; 
    color: #333;
    font-family: 'Fira Sans', sans-serif;
    font-weight: 600;
    line-height: 1.5em;
    text-transform: uppercase;
}
.list a:hover,
.list a:active {
    border-bottom: 2px solid #69c3aa; 
    color: #333;
}
.slider{
	width: 100%;
	height: 100%;
	overflow: hidden;
	position: relative;
}

.slide{
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	float: left;
	position: absolute;
}
.maps {
    background-color: #69c3aa;
    color: black;
    position: absolute;
    padding: 1rem;
    width: 75%;
    float: right;
}
.maps h1 {
    font-family: 'IBM Plex Serif', serif;
    font-size: 3rem;
    font-weight: 700;
}
.maps p {
    font-size: 0.9em;
    padding: 1rem;
}
.maps-desc h1 {
    margin-bottom: 0em;
}
/* Footer */
.footer {
    background-color: #333;
    padding-bottom: 2em;
}
.footer h1 {
    color: #69c3aa;
    font-family: 'Fira Sans', sans-serif;
    font-size: 1.2em;
    padding-top: 2.4em;
    text-transform: uppercase;
}
.footer p {
    color: white;
    font-family: 'Fira Sans', sans-serif;
    font-size: 1em;
    line-height: 1.6em;
}
.footer a {
    border-bottom: 1px dotted white;
    color: white;
}
.footer a:hover,
.footer a:active {
    border-bottom: 1px solid white;
}
.team p,
.contributors p {
    line-height: 1.5em;
    margin-bottom: 0.2em;
}
.image-link {
    border-bottom: 0px;
}
.image-link:hover {
    border-bottom: 0px;
}
.logo {
    float: right;
    margin-top: 3em;
    max-width: 240px;
    text-align: center;
    width: 100%;
}
.logo p {
    clear: all;
}
.icons {
    margin-top: 3em;
    padding-top: 3em;
    text-align: center;
}

.icons a,
.icons a:hover {
    border-bottom: 0px;
}
.fa-twitter {
    margin-left: 0.4em;
    margin-right: 0.4em;
    margin-top: 1em;
}
.fa-twitter:hover {
    color: #69c3aa;
}
.fa-instagram {
    margin-left: 0.4em;
    margin-right: 0.4em;
}
.fa-instagram:hover {
    color: #69c3aa;
}
.fa-youtube {
    margin-left: 0.4em;
    margin-right: 0.4em;
}
.fa-youtube:hover {
    color: #69c3aa;
}
/* CSS changes for tablet/mobile screens */
@media screen and (max-width: 1200px) {
    .text h5 { width: 75%; }
}
@media screen and (max-width: 1000px) {
    .iis-caption-content p { display: none; }
    .text h5 { width: 90%; }
}
@media screen and (max-width: 800px) {
    .contributors h1 {padding-top: 2.4em; padding-bottom: 1.2em;}
    .icons {margin-top: 0em; padding-top: 1em; margin-bottom: 1.5em;}
    .ideal-image-slider {display: none;}
    .list {margin-left: -1em;}
    .logo { float: none; margin-top: 3em;}
    .media-mobile {display: none;}
    .media-narrow {display: block;}
    .media-wide {display: none;}
    .media p {margin-left: -1em;}
    .site-desc {top: 14rem;}
    .site-title {top: 5rem;}
    .team h1 {padding-top: 2.4em; padding-bottom: 1.2em;}
    .text {margin-left: -1em;}
    .text h1 {margin-top: 1em;}
    .ui.container {width: auto !important; margin-left: 1.2em !important; margin-right: 1.2em !important;}
    #maps {padding-left: 1.2em;}
    #notOnMobile {display: none;}
}
@media screen and (max-width: 499px) {
    .banner-image {height: 300px;}
    .contributors h1 {padding-top: 0em; padding-bottom: 0em;}
    .footer {margin-top: 1em; text-align: center;}
    .list {margin-left: 0em;}
    .logo { float: none; margin-top: 0em;}
    .media-mobile {display: block;}
    .media-narrow {display: none;}
    .media-wide {display: none;}
    .media p {margin-left: 0em;}
    .site-desc {top: 18rem; width: 68%;}
    .site-title h1 {font-size: 2.8em;}
    .site-title h2 {font-size: 2.5em;}
    .site-title {margin-right: 2em; top: 6.5rem;}
    .space5 {height: 3em;}
    .team h1 {padding-top: 0em; padding-bottom: 0em;}
    .text {margin-left: 0em;}
    .text h1 {margin-top: 1.2em;}
    #maps {padding-left: 0em;}
}

.ui.card.green,
.ui.cards>.card.green {
    background-color: #69c3aa;
    box-shadow: none;
}
