/* Google Fonts */
@import url("https://fonts.googleapis.com/css?family=Fira+Sans:400,400i,600,600i,700|IBM+Plex+Serif:300i,400,400i,500,500i,600,600i,700,700i");
/* Typography */
html {
    font-size: 16px;
}
h1,h2,h3,h4,p {
    font-family: 'IBM Plex Serif', serif;
}
/* Navigation */
.nav-top {
    color: white;
    font-family: 'Fira Sans', sans-serif;
    font-weight: 700;
    padding: 1rem 0;
    line-height: 1.6em;
    position: fixed;
    text-transform: uppercase;
    top: 0;
    width: 100%;
    z-index: 99;
}
.nav-top a {
    color: white;
}
.nav-top a:hover,
.nav-top a:active {
    border-bottom: 2px solid white;
}
.nav-top #inactive {
    color: #333;
}
/* Header */
.banner {
    text-align: center;
    margin-top: 1.6em;
}
.banner-image {
    width: 100%;
    min-height: 450px;
    max-height: 450px;
    overflow: hidden;
    background-image: url(../img/banner.png);
    background-repeat: no-repeat;
    background-size: 1600px 432px;
    background-position: center top;
}
.site-title {
    background-color: #69c3aa;
    color: white;
    position: absolute;
    padding: 1rem;
    top: 6rem;
}
.site-title h1 {
    font-family: 'IBM Plex Serif', serif;
    font-size: 3em;
    font-weight: 700;
    line-height: 1em;
    padding: 0 0.1em;
}
.site-title h2 {
    font-family: 'IBM Plex Serif', serif;
    font-size: 3em;
    font-weight: 300;
    line-height: 1em;
    margin-top: -1rem;
    padding: 0.1em 0.1em 0 0.1em;
}
.site-desc {
    background-color: #333;
    color: white;
    font-family: 'IBM Plex Serif', serif;
    position: absolute;
    top: 16rem;
}
.site-desc p {
    font-size: 0.9em;
    padding: 1rem;
}
/* Body */
.light-gray {
    background-color: #f4f4f4;
    padding: 1em 0 5em 0;
}
.gray {
    background-color: #efefef;
    padding: 2em 0 1em 0;
}
.green {
    background-color: #69c3aa;
}
.light-green {
    background-color: #AADCCD;
}
.space1 {
    height: 1em;
}
.space2 {
    height: 2em;
}
.space3 {
    height: 3em;
}
.space5 {
    height: 5em;
}
.text h1 {
    color: #333;
    font-size: 3em;
    font-style: italic;
    font-weight: 500;
    margin: 1.4em 0 0.2em 0;
}
.text h5 {
    color: #555;
    font-family: 'IBM Plex Serif', serif;
    font-size: 1.2em;
    font-weight: 400;
    line-height: 1.5em;
    margin: 1.4em 0 0.2em 0;
    width: 50%;
}
.text h5 a {
    color: #555;
    border-bottom: 2px dotted #69c3aa;
}
.text h5 a:hover {
    color: #555;
    border-bottom: 2px solid #69c3aa;
}
.text p {
    color: black;
    font-size: 1.2em;
    font-weight: 400;
    line-height: 1.5em;
}
.media p {
    color: #69c3aa;
    font-family: 'Fira Sans', sans-serif;
    font-size: 1em;
    font-weight: 600;
    margin: 1em 0 1em 0;
    text-transform: uppercase;
}
.media a {
    border-bottom: none;
    color: #333;
    font-family: 'Fira Sans', sans-serif;
    font-weight: 600;
    text-transform: uppercase;
}
.media a:hover,
.media a:active {
    border-bottom: 2px solid #69c3aa;
    color: #333;
}
.media-mobile {
    display: none;
}
.media-narrow {
    display: none;
}
.media-wide {
    display: block;
}
.list-governingID {
    padding-top: 0.5em;
}
.list h1 {
    color: #efefef;
    font-size: 2.8em;
    font-style: italic;
    font-weight: 500;
    margin-top: 1em;
}
.list h3 {
    color: #333;
    font-family: 'Fira Sans', sans-serif;
    font-size: 1.8em;
    font-weight: 600;
    padding: 1.2em 0 1em 0;
    text-transform: uppercase;
}
.list p {
    border-top: 1px solid #333;
    color: #69c3aa;
    font-family: 'Fira Sans', sans-serif;
    font-size: 1em;
    font-weight: 600;
    padding-top: 0.8em;
    text-transform: uppercase;
}
.list a {
    border-bottom: none;
    color: #333;
    font-family: 'Fira Sans', sans-serif;
    font-weight: 600;
    line-height: 1.5em;
    text-transform: uppercase;
}
.list a:hover,
.list a:active {
    border-bottom: 2px solid #69c3aa;
    color: #333;
}
.slider{
    width: 100%;
    height: 100%;
    overflow: hidden;
    position: relative;
}

.slide{
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    float: left;
    position: absolute;
}
.maps {
    background-color: #69c3aa;
    color: black;
    position: absolute;
    padding: 1rem;
    width: 75%;
    float: right;
}
.maps h1 {
    font-family: 'IBM Plex Serif', serif;
    font-size: 3rem;
    font-weight: 700;
}
.maps p {
    font-size: 0.9em;
    padding: 1rem;
}
.maps-desc h1 {
    margin-bottom: 0;
}
/* Footer */
.footer {
    background-color: #333;
    padding-bottom: 2em;
}
.footer h1 {
    color: #69c3aa;
    font-family: 'Fira Sans', sans-serif;
    font-size: 1.2em;
    padding-top: 2.4em;
    text-transform: uppercase;
}
.footer p {
    color: white;
    font-family: 'Fira Sans', sans-serif;
    font-size: 1em;
    line-height: 1.6em;
}
.footer a {
    border-bottom: 1px dotted white;
    color: white;
}
.footer a:hover,
.footer a:active {
    border-bottom: 1px solid white;
}
.team p,
.contributors p {
    line-height: 1.5em;
    margin-bottom: 0.2em;
}
.image-link {
    border-bottom: 0;
}
.image-link:hover {
    border-bottom: 0;
}
.logo {
    float: right;
    margin-top: 3em;
    max-width: 240px;
    text-align: center;
    width: 100%;
}
.logo p {
    unset: all;
}
.icons {
    margin-top: 3em;
    padding-top: 3em;
    text-align: center;
}

.icons a,
.icons a:hover {
    border-bottom: 0;
}
.fa-twitter {
    margin-left: 0.4em;
    margin-right: 0.4em;
    margin-top: 1em;
}
.fa-twitter:hover {
    color: #69c3aa;
}
.fa-instagram {
    margin-left: 0.4em;
    margin-right: 0.4em;
}
.fa-instagram:hover {
    color: #69c3aa;
}
.fa-youtube {
    margin-left: 0.4em;
    margin-right: 0.4em;
}
.fa-youtube:hover {
    color: #69c3aa;
}
/* CSS changes for tablet/mobile screens */
@media screen and (max-width: 1200px) {
    .text h5 { width: 75%; }
}
@media screen and (max-width: 1000px) {
    .iis-caption-content p { display: none; }
    .text h5 { width: 90%; }
}
@media screen and (max-width: 800px) {
    .contributors h1 {padding-top: 2.4em; padding-bottom: 1.2em;}
    .icons {margin-top: 0; padding-top: 1em; margin-bottom: 1.5em;}
    .ideal-image-slider {display: none;}
    .list {margin-left: -1em;}
    .logo { float: none; margin-top: 3em;}
    .media-mobile {display: none;}
    .media-narrow {display: block;}
    .media-wide {display: none;}
    .media p {margin-left: -1em;}
    .site-desc {top: 14rem;}
    .site-title {top: 5rem;}
    .team h1 {padding-top: 2.4em; padding-bottom: 1.2em;}
    .text {margin-left: -1em;}
    .text h1 {margin-top: 1em;}
    .ui.container {width: auto !important; margin-left: 1.2em !important; margin-right: 1.2em !important;}
    #maps {padding-left: 1.2em;}
    #notOnMobile {display: none;}
}
@media screen and (max-width: 499px) {
    .banner-image {height: 300px;}
    .contributors h1 {padding-top: 0; padding-bottom: 0;}
    .footer {margin-top: 1em; text-align: center;}
    .list {margin-left: 0;}
    .logo { float: none; margin-top: 0;}
    .media-mobile {display: block;}
    .media-narrow {display: none;}
    .media-wide {display: none;}
    .media p {margin-left: 0;}
    .site-desc {top: 18rem; width: 68%;}
    .site-title h1 {font-size: 2.8em;}
    .site-title h2 {font-size: 2.5em;}
    .site-title {margin-right: 2em; top: 6.5rem;}
    .space5 {height: 3em;}
    .team h1 {padding-top: 0; padding-bottom: 0;}
    .text {margin-left: 0;}
    .text h1 {margin-top: 1.2em;}
    #maps {padding-left: 0;}
}

/* Custom Styles */

.card p {
    font-family: "Fira Sans", sans-serif;
    font-size: 0.8em;
}

.card h3 {
    font-family: "Fira Sans", sans-serif;
    text-transform: uppercase;
}

.ui.cards {
    flex-wrap: nowrap;
}

.ui.image {
    padding-bottom: 0.8em;
}

.ui.card.green,
.ui.cards>.card.green {
    background-color: #69c3aa;
    box-shadow: none;
}

.ui.card.green:hover,
.ui.cards > .card.green:hover {
    box-shadow: none;
}

.ui.card.black,
.ui.cards>.card.black {
    color: white;
    background-color: #333333;
    box-shadow: none;
}

.ui.card.black:hover,
.ui.cards > .card.black:hover {
    box-shadow: none;
}

.black .text p {
    color: white;
}

.ui.card:hover,
.ui.cards > .card:hover {
    box-shadow: none;
}

.ui.card.light-gray,
.ui.cards > .card.light-gray {
    background-color: #f4f4f4;
    box-shadow: none;
}

.ui.card.light-gray:hover,
.ui.cards > .card.light-gray:hover {
    box-shadow: none;
}

.ui.card.white,
.ui.cards > .card.white {
    background-color: white;
    box-shadow: none;
}

.ui.card.white:hover,
.ui.cards > .card.white:hover {
    box-shadow: none;
}

.ui.card.pale-red,
.ui.cards > .card.pale-red {
    background-color: #DBA9AC;
    box-shadow: none;
}

.ui.card.pale-red:hover,
.ui.cards > .card.pale-red:hover {
    box-shadow: none;
}

.ui.card.pale-yellow,
.ui.cards > .card.pale-yellow {
    background-color: #DBCAA9;
    box-shadow: none;
}

.ui.card.pale-yellow:hover,
.ui.cards > .card.pale-yellow:hover {
    box-shadow: none;
}

.big.card {
    min-height: 25em;
    min-width: 25em;
    height: 25em;
    width: 25em;
}

.ui.cards > .big.card > .content {
    padding: 2em;
}

.ui.cards > .big.card h4 {
    font-family: "Fira Sans", sans-serif;
    font-weight: 600;
    letter-spacing: 0.5px;
    line-height: 1.5em;
}

.ui.cards > .big.card .text p {
    padding-top: 2em;
}

.ui.cards > .title.card {
    border-radius: 0;
}

.ui.cards > .title.card h3 {
    font-size: 1.285rem;
    letter-spacing: 0.5px;
    text-transform: capitalize;

    margin-top: 0;
    margin-bottom: 0;
}

.ui.cards > .small.card {
    height: 13.5em;
    width: 13.5em;
    min-height: 13.5em;
    min-width: 13.5em;
    margin: 6px;
}

.ui.cards > .small.card > .content {
    padding: 0.5em 1em;
}

.ui.cards > .small.card > .content.center.aligned {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-transform: uppercase;
}

.ui.cards > .small.card > .content.center.aligned img{
    padding-bottom: 30px;
}

.ui.cards > .small.card > .content .text p {
    font-size: 1em;
    font-weight: bold;
}

.ui.cards > .taller.card {
    height: 18.75em;
}

.ui.cards:first-child > .small.card:first-child {
    margin-left: 14px;
}

.ui.cards > .card > .content {
    border-top: none;
}

.ui.card > .content > .header:not(.ui),
.ui.cards > .card > .content > .header:not(.ui) {
    text-transform: uppercase;
    font-size: 1em;
    font-weight: 600;
    margin-top: 0.5em;
}

.ui.cards > .card .description p{
    font-size: 1em;
    font-weight: 200;
    font-family: "Fira Sans", sans-serif;
    line-height: 1.375em;
}

.ui.ordered.list,
.ui.ordered.list .list,
ol.ui.list,
ol.ui.list ol {
    color: black;
    list-style: decimal;
}

.ui.list:first-child,
ol.ui.list:first-child,
ul.ui.list:first-child {
    margin-top: 1em;
}

.ui.ordered.list .list > .item,
.ui.ordered.list > .item,
ol.ui.list li {
    list-style: decimal;
}

.ui.ordered.list .list > .item::before,
.ui.ordered.list > .item::before,
ol.ui.list li::before {
    content: "";
}

/* Landing Page - Specific Targets */

#decisionsGuide .green.card {
    padding-top: 1em;
    min-height: 20em;
}

#decisionsGuide .green.card > .header > h3 {
    min-height: 2.5em;
}

#understandingDigitalIdentity h3 {
    font-size: 0.75em;
}

#appropriateRolesOfTheState .ui > .row{
    min-height: 255px;
    display: flex;
    flex-wrap: nowrap;
    overflow-x: scroll;
}

#appropriateRolesOfTheState .ui > .row > .column,
#technologicalDesignChoices .ui > .row > .column,
#governanceFramework-subpage .ui > .row > .column {
    margin-left: 25px;
    margin-right: 25px;
}

#appropriateRolesOfTheState .ui > .row > .column:first-child,
#technologicalDesignChoices .ui > .row > .column:first-child,
#governanceFramework-subpage .ui > .row > .column:first-child {
    margin-left: 0;
}

#appropriateRolesOfTheState .ui > .row > .column:last-child,
#technologicalDesignChoices .ui > .row > .column:last-child,
#governanceFramework-subpage .ui > .row > .column:last-child {
    margin-right: 0;
}

#appropriateRolesOfTheState .content.center.aligned .text p {
    font-size: 1em;
    font-weight: bold;
}

#technologicalDesignChoices .card.black {
    width: auto;
}

#technologicalDesignChoices .ui > .row {
    min-height: 330px;
    display: flex;
    flex-wrap: nowrap;
    overflow-x: scroll;
}

#governanceFramework .content img{
    padding-bottom: 0;
    padding-top: 1.5em;
}

/* Other Pages */

.footnote {
    overflow-wrap: anywhere;
}

#establishingTrust-subpage .content h6 {
    font-size: 1em;
    letter-spacing: 0.32px;
}

#governanceFramework-subpage .card.black {
    width: auto;
}

#governanceFramework-subpage .ui > .row:last-child{
    min-height: 205px;
    display: flex;
    flex-wrap: nowrap;
    overflow-x: scroll;
}

#governanceFramework-subpage .ui.cards > .card {
    min-width: 15em;
}

#governanceFramework-subpage .ui.cards:last-child > .row:last-child {
    min-height: 330px;
}

#governanceFramework-subpage .ui .cards {
    margin-top: 0;
    margin-bottom: 0;
}

.ui.table tr td {
    border-top: none;
}

.ui.table tbody + tbody tr:first-child td {
    border-top: none;
}

.ui.table .header td{
    text-transform: uppercase;
    font-weight: bold;
    padding: 0;
    padding-left: 1em;
}
.ui.table tr:last-child th {
    padding-bottom: 1em;
}

.ui.table tr:not(.header) td {
    padding-bottom: 3em;
    vertical-align: top;
}


