/* Horizontal green line */
.break {
    border-top: 3px dotted #69c3aa;
    margin: 2em 0 1em 0;
}
/* Content */
a {
	-moz-transition: border-bottom-color 0.25s ease-in-out;
	-webkit-transition: border-bottom-color 0.25s ease-in-out;
	-ms-transition: border-bottom-color 0.25s ease-in-out;
	transition: border-bottom-color 0.25s ease-in-out;
	text-decoration: none;
	color: #222;
}
.content a,
.meta a {
	border-bottom: 2px dotted #69c3aa;
}
a:hover {
	text-decoration: none;
	border-bottom: 2px solid #69c3aa;
}
.content a:hover,
.meta a:hover {
    color: #222
}
h3 {
    font-size: 1.8rem;
    font-weight: 400;
    letter-spacing: 0rem;
    line-height: 2rem;
}
.content h3 {
    font-weight: 600;
    line-height: 1.4rem;
    margin: 0.2em 0 0.8em 0;
}
.content h4 {
    color: black;
    font-family: "IBM Plex Serif", serif;
    font-size: 1.2rem;
    font-weight: 600;
    letter-spacing: 0em;
    line-height: 1.4em;
    margin-bottom: 0.5em;
    margin-top: 0;
}
.content h5 {
    color: #69c3aa;
    font-family: "Fira Sans", sans;
    font-size: 0.9em;
    font-weight: 600;
    letter-spacing: 0.15em;
    line-height: 1.75em;
    margin-bottom: 0rem;
    text-transform: uppercase;
}
.content p {
    color: #222;
    font-family: "IBM Plex Serif", serif;
    font-size: 1.2rem;
    font-weight: 400;
    letter-spacing: 0;
    line-height: 1.8rem;
    margin: 0 0 0.8rem 0;
}
p.intro {
    font-family: "Fira Sans", sans-serif;
    line-height: 2rem;
    font-size: 1.5rem;
    font-weight: 400;
    margin-bottom: 1em;
}
p.indent {
    text-indent: 1.5rem;
}
p.caption {
	font-family: "Fira Sans", sans-serif;
	font-size: 0.9rem !important;
	font-weight: 400;
	line-height: 1.2rem !important;
	text-align: right;
	margin-bottom: 30px;
}
p.highlight {
	font-family: "Fira Sans", sans-serif;
	font-size: 1rem;
	line-height: 1.4rem;
	font-weight: 600;
}
p.pullquote {
    background-color: #f4f4f4;
    border-top: 3px solid #69c3aa;
    color: #000;
    font-family: Fira Sans;
    font-weight: 600;
    line-height: 1.3em;
    margin: 1.6em 0;
    padding: 20px;
}
p.instructions {
	color: #aaa;
    font-family: 'Fira Sans', sans-serif;
	font-size: 1rem;
	line-height: 1.4rem;
	margin-top: 3em;
}
.content p.instructions-mobile {
	color: #aaa;
    display: none;
	font-family: 'Fira Sans', sans-serif;
	font-size: 1rem;
	line-height: 1.4rem;
	margin-top: 3em;
}
.content .superscript {
    color: #69c3aa;
    border-bottom: 0px solid;
    font-family: "Fira Sans", sand-serif;
    font-size: 0.8rem;
    font-variant-numeric: 'tabular-nums';
    font-weight: 800;
    position: relative;
    top: -0.5rem;
}
.content .superscript:hover {
    color: #333;
    border-bottom: 0px solid;
}
.content .img-reference {
    margin-top: 0.2em;
}
.internal-nav {
	font-family: Fira Sans;
	font-size: 0.75rem;
	line-height: 1.4rem;
	text-transform: uppercase;
	color: #69c3aa;
	font-weight: 400;
	letter-spacing: 0.05em;
}
.internal-nav a {
	color: #69c3aa;
	border: none;
}
.internal-nav a:hover {
	color: #aaa;
}
.diagram {
    background-color: #f4f4f4;
    margin-top: 4rem;
}
/* Meta */
.meta {
    margin-top: 0.2em;
    padding-right: 4em;
    text-align: right;
}
.meta p {
    color: #222;
    font-family: "Fira Sans", sans;
    font-size: 0.9rem;
	font-weight: 400;
    letter-spacing: 0;
    line-height: 1.4rem;
    margin-bottom: 1rem;
    margin-top: 0.2rem;
}
/* Title */
.post-title {
    margin-top: 4rem;
}
.post-title h2 {
    font-family: "IBM Plex Serif", serif;
    font-size: 2.5rem;
    font-style: italic;
    font-weight: 400;
    letter-spacing: 0;
    line-height: 2.7rem;
    margin: 0 0 1rem 0;
    margin-bottom: 1rem;
    width: 80%;
}
.title {
}
.title h3 {
    margin-bottom: 0.8em;
}
/* Notes */
td.number {
    color: #69c3aa;
    font-family: "Fira Sans", sans-serif;
    font-weight: 800;
    padding-bottom: 1em;
    padding-right: 1em;
    padding-top: 0.2em;
    text-align: left;
    vertical-align: top;
    width: 1.25em;
}
td.reference {
    color: #222;
    font-family: "IBM Plex Serif", serif;
    font-size: 1.2em;
    font-weight: 400;
    line-height: 1.4em;
    margin-bottom: 1em;
    padding-bottom: 1em;
    text-align: left;
    vertical-align: top;
}
.content .internal-nav {
    border-bottom: 0px solid;
    color: #69c3aa;
    font-family: "Fira Sans", sans-serif;
    font-size: 0.75rem;
    font-weight: 400;
    letter-spacing: 0.05em;
    line-height: 1.4rem;
    text-transform: uppercase;
}
.content .internal-nav:hover {
    border-bottom: 0px solid;
    color: #222;
}
/* SVG Diagram */
.svg-diagram {
	text-align: center;
	margin-bottom: 7em;
	font-family: 'Fira Sans', sans-serif;
	font-size: 0.9em;
	text-anchor: middle;
	background-color: #f4f4f4;
	padding-top: 1.5em;
	padding-bottom: 1em;
}
.svg-diagram-text {
	text-align: left !important;
	display: block;
	margin-bottom: 4em;
	font-family: 'Fira Sans', sans-serif;
	font-size: 0.9em;
	text-anchor: middle;
	background-color: #f4f4f4;
	padding-top: 1.5em;
	padding-bottom: 1em;
}
.svg-diagram-mobile {
	background-color: #f4f4f4;
	text-align: center;
	padding-top: 2em;
	padding-left: 7em;
	padding-right: 7em;
	padding-bottom: 1em;
	margin-bottom: 3em;
}
.svg-diagram-mobile-text {
	text-align: center;
	margin-bottom: 2em;
	font-family: 'Fira Sans', sans-serif;
	font-size: 1em;
	line-height: 1.4em;	
	margin-top: 1em;
}
.svg-diagram-mobile-link {
	text-transform: uppercase;
}
.svg-diagram-mobile-link a {
	border: none;
	color: #69c3aa;
	font-weight: 500;
}
.svg-diagram-mobile-link a:hover {
	color: #bbb;
}
.svg-diagram-element a:hover {
	-webkit-filter: grayscale(100%); 
	-webkit-filter: grayscale(1); 
	-moz-filter: grayscale(100%);
	-ms-filter: grayscale(100%);
	-o-filter: grayscale(100%);
	filter: grayscale(100%);
	filter: gray;
}
.svg-diagram-label {
	font-family: 'Fira Sans', sans-serif;
	font-size: 1em;
	text-transform: uppercase;
	text-align: right;
}
.svg-diagram-link {
	text-transform: uppercase;
	fill: #69c3aa;
	font-weight: 500;
}
.svg-diagram-link a:hover {
	fill: #bbb;
}
.svg-diagram-link a:visited {
	fill: #69c3aa;
}
.svg-diagram-mobile {
    display: none;
}
/* Responsive - Left align sections on mobile/tab screens */
@media screen and (max-width: 3000px) {
    html {font-size: 12pt;}
}
@media screen and (max-width: 767px) {
    .content h3 {margin: 0.2em 0 1em 0;}
    .content h5 {margin-top: -1em;}
    .content p {font-size:1.1rem;}
    #empty {display: none;}
    .meta {text-align: left;}
    .title h3 {margin-bottom: 0.5em;}
}
@media screen and (max-width: 480px) {
	html {font-size: 11pt;}
    .break {top: 1rem; height: 3rem;}
    .content p.instructions {display: none;}
    .content p.instructions-mobile {display: block;}
    .diagram {margin-top: 2rem; margin-bottom: 4rem;}
    .svg-diagram {display: none;}
	.svg-diagram-mobile {display: block; padding: 3em 2em;}
}
