/* Google Fonts */
@import url("https://fonts.googleapis.com/css?family=Fira+Sans:400,600i,700|IBM+Plex+Serif:300i,400,400i,500,500i,600,600i,700,700i");
/* Typography */
html {
    font-size: 16px;
}
h1,h2,h3,h4,p {
    font-family: 'IBM Plex Serif', serif;
}
/* Navigation */
.nav-top {
    color: white;
    font-family: 'Fira Sans', sans-serif;
    font-weight: 700;
    padding: 1rem 0;
    text-transform: uppercase;
}
.nav-top a {
    color: white;
}
.nav-top a:hover,
.nav-top a:active {
    border-bottom: 2px solid white;
}
.nav-top #inactive {
    color: #333;
}
/* Header */
.banner {
    text-align: center;
}
.site-title {
    background-color: #69c3aa;
    color: white;
    position: absolute;
    padding: 1rem;
    top: 6rem;
}
.site-title h1 {
    font-family: 'IBM Plex Serif', serif;
    font-size: 3em;
    font-weight: 700;
}
.site-title h2 {
    font-family: 'IBM Plex Serif', serif;
    font-size: 3em;
    font-weight: 300;
    margin-top: -1rem;
}
.site-desc {
    background-color: black;
    color: white;
    font-family: 'IBM Plex Serif', serif;
    position: absolute;
    top: 20rem;
}
.site-desc p {
    font-size: 0.9em;
    padding: 1rem;
}
/* Body */
.light-gray {
    background-color: #f4f4f4;
    padding: 2em 0 2em 0;
}
.gray {
    background-color: #efefef;
    padding: 2em 0 2em 0;
}
.green {
    background-color: #69c3aa;
}
.space3 {
    height: 3em;
}
.space5 {
    height: 5em;
}
.text h1 {
    color: #333;
    font-size: 3em;
    font-style: italic;
    font-weight: 500;
    margin: 1.4em 0 0.2em 0;
}
.text h5 {
    color: #555;
    font-family: 'IBM Plex Serif', serif;
    font-size: 1.05em;
    font-weight: 400;
    margin: 1.4em 0 0.2em 0;
    width: 60%;
}
.text p {
    color: black;
    font-size: 1.2em;
    font-weight: 400;
    line-height: 1.5em;
}
.media p {
    color: #69c3aa;
    font-family: 'Fira Sans', sans-serif;
    font-size: 1em;
    font-weight: 600;
    margin: 1em 0 1em 0;
    text-transform: uppercase;
}
.media a {
    border-bottom: 2px dotted #69c3aa; 
    color: black;
    font-family: 'IBM Plex Serif', serif;
    font-weight: 400;
    text-transform: none;
}
.media a:hover,
.media a:active {
    border-bottom: 2px solid #69c3aa; 
    color: black;
}
.list h1 {
    color: #efefef;
    font-size: 2.8em;
    font-style: italic;
    font-weight: 500;
    margin-top: 1em;
}
.list h3 {
    color: #333;
    font-family: 'Fira Sans', sans-serif;
    font-size: 1.8em;
    font-weight: 600;
    padding: 1.2em 0 1em 0;
    text-transform: uppercase;
}
.list p {
    border-top: 1px solid #333;
    color: #69c3aa;
    font-family: 'Fira Sans', sans-serif;
    font-size: 1em;
    font-weight: 600;
    padding-top: 0.8em;
    text-transform: uppercase;
}
.list a {
    border-bottom: 2px dotted #69c3aa; 
    color: black;
    font-family: 'IBM Plex Serif', serif;
    font-weight: 400;
    text-transform: none;
}
.list a:hover,
.list a:active {
    border-bottom: 2px solid #69c3aa; 
    color: black;
}
.slider{
	width: 100%;
	height: 100%;
	overflow: hidden;
	position: relative;
}

.slide{
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	float: left;
	position: absolute;
}
.maps {
    background-color: #69c3aa;
    color: black;
    position: absolute;
    padding: 1rem;
    top: 6rem;
    width: 75%;
    float: right;
}
.maps h1 {
    font-family: 'IBM Plex Serif', serif;
    font-size: 3rem;
    font-weight: 700;
}
.maps p {
    font-size: 0.9em;
    padding: 1rem;
}
.maps-desc h1 {
    margin-bottom: 0em;
}
/* Footer */
.footer {
    background-color: #333;
    padding-bottom: 2em;
}
.footer h1 {
    color: #69c3aa;
    font-family: 'Fira Sans', sans-serif;
    font-size: 1.2em;
    padding-top: 2.4em;
    text-transform: uppercase;
}
.footer p {
    color: white;
    font-family: 'Fira Sans', sans-serif;
    font-size: 1em;
    line-height: 1.6em;
}
.footer a {
    border-bottom: 1px dotted white;
    color: white;
}
.footer a:hover,
.footer a:active {
    border-bottom: 1px solid white;
}
.team p,
.contributors p {
    line-height: 1.2em;
}
.logo {
    float: right;
    margin-top: 2.4em;
    max-width: 240px;
    text-align: center;
    width: 100%;
}
.logo p {
    clear: all;
}
